.trend_value {
    margin-bottom: 20px;
}

.trend_value h2 {
    font-size : 2.2rem;
    font-weight: 800;
    color: var(--text-dark);
    margin-bottom: 5px;
}

#balance_trend_pct {
    font-weight: 600;
    color: var(--primary);
}

.trend_chart_container {
    height: 250px;
    margin-top: 20px;
    position: relative;
}

#balance_trend_chart {
    width: 100%;
    height: 100%;
}